{% if success %}
SUCCESS! THANKS!
{% endif %}
<h1>
SECTIONTIME
</h1>
<form method="POST" action="{{action}}">
<fieldset>
<input type="hidden" name="dnd_name" value="{{ dnd_name }}" />
<input type="hidden" name="is_male" value="{{ is_male }}" />
<input type="hidden" name="is_ta" value="{{ is_ta }}" />
<fieldset>
{% for section in sections %}
<input type="checkbox" name="{{section}}" value="1"> {{section}} <br />
{% endfor %}
</fieldset>
{% if is_ta %}
Say who you can't be with: <br />
<textarea name="cant_be_with">
</textarea>
{% endif %}
<input type="submit" value="Submit" />
</fieldset>
</form>
