<html>
<head>
<title>
CS section chooser
</title>
<style type="text/css">
body {width: 500px; margin: auto; margin-top: 30px;}
fieldset {border: none;}
input[type="text"] {width: 2em;}
</style>
</head>
<body>

{% if success %}
SUCCESS! THANKS!
{% endif %}
{% if invalid %}
ERROR with your submission
{% endif %}

<h1>
Register for a COSC course section ({{course_id}})
</h1>
<h2>
We think you're {{ dnd_name }}
</h2>
<h3>
If that's wrong, <a href="/accounts/logout">click here</a>
</h3>


<form method="POST" action="{{action}}">
<fieldset>
<input type="hidden" name="dnd_name" value="{{ dnd_name }}" />

Gender: <br />
<input type="radio" name="is_male" value="1" id="gen1" {% if male_checked %}checked="checked"{% endif %} /> <label for="gen1">Male</label><br />
<input type="radio" name="is_male" value="0" id="gen2" {% if female_checked %}checked="checked"{% endif %}/> <label for="gen2">Female</label> <br />
<!--
<input type="radio" name="is_male" value="0" id="gen3" /> <label for="gen3">Other/Prefer not to say</label> <br />
-->
<input type="hidden" name="is_ta" value="{{ is_ta }}" />

<br />
Available Section Times: <br />
<fieldset>
{% for section, value in sections_values.items %}
<input type="text" name="{{section}}" value="{{value}}"> {{section}} <br />
{% endfor %}
</fieldset>


<br />
{% if is_ta %}
Say who you can't be with: <br />
(Ctrl+click for multiple) <br />
<select multiple="multiple" size="5" id="mysel" name="cant_be_with"> 
{% for student in students %}
 <option value="{{student}}">{{student}}</option> 
{% endfor %}
</select>
{% endif %}


<br />
<input type="submit" value="Submit" />
</fieldset>
</form>
</body>
</html>
